    *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

@font-face {
	font-family:'manteka';
	 src: url("font/manteka.ttf");
} 

        body{
			font-family:'manteka';
        }

.container {
	height: 9em;
	width: 80%;
	margin: 10px auto;
	text-align: center;
	
}

h1    {
width: 100%; 
text-align: center;
margin-top: 4em;
}
.rule {
	width: 100%;
	margin: 0 auto;
	display: flex;
}
.thumbnail {
	display: flex;
}
#gameResponse {
     width: 100%; 
     margin: 0 auto;
	position: relative;
}

#restartBtn {
     border-radius: 10px; 
     display: none; 
     margin: 0 auto;
     width: 300px;
     height: 50px;
	padding:50px;
}
#enterBtn {
	position: relative;
	border-radius: 20px; 
	margin: 0 auto; 
	width: 300px;
	background-color: lightblue;
}

#userInput {
	display: flex;
    border-radius: 10px;  
    margin: 30px 50% 10px 30%; 
    width: 400px;
	height:50px;
	padding-top: 20px;
	position: relative;
}
#tries  {
	position: relative;
	margin: 10px auto;
}